﻿@model MTYDNUG.Core.Features.Employee.Index.EmployeeIndexModel
@{
    ViewBag.Title = "Employee Maintenace";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="row">
    <div class="col-md-9">Displaying @Model.NumberOfEmployees employees</div>
    <div class="col-md-3"><a href="@Url.Action("Add")" class="btn btn-primary pull-right">New Employee</a></div>
</div>
<br />
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.Username</td>
                <td>@employee.FirstName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.LastName</td>
                <td>@employee.DateOfBirth</td>
                <td>@employee.AddressCity</td>
                <td>@employee.AddressState</td>
                <td>@employee.AddressZipCode</td>
                <td class="text-center">
                    <a href="@Url.Action("Edit", new { id=@employee.Id})" class="btn btn-default">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
